<link rel="stylesheet" href="/style/form.css">
<title>Register</title>
</head>
<body>

<div class="wrapper">

    <div class="registration_form">
   <!-- Title -->
     <div class="title">
       Registration Form
     </div>
   
   <!-- Form -->
    <form>
     <div class="form_wrap">
        
   
   <!-- Frist name input Place -->
        <div class="input_wrap">
         <label for="fname">First Name</label>
         <input type="text" id="fname">
        </div>
   
   <!-- Last Name input place -->
       <div class="input_wrap">
         <label for="lname">Last Name</label>
         <input type="text" id="lname">
       </div>
     
   
   <!-- Team Id input Place -->
        <div class="input_wrap">
            <label for="Team">Team</label>
            <input type="text" id="team">
        </div>

   <!-- Stack Id input Place -->
    <div class="input_wrap">
        <label for="stack">Stack</label>
        <input type="text" id="stack">
    </div>

     <!-- Gender Id input Place -->
     <div class="input_wrap">
        <label for="Gender">Gender</label>
        <input type="text" id="gender">
    </div>

    
     <!-- Crud Id input Place -->
     <div class="input_wrap">
        <label for="crud">Crud</label>
        <input type="text" id="crud">
       </div>


   
   <!-- Submit button -->
    <div class="input_wrap">
      <input type="submit" value="Register Now" class="submit_btn">
    </div>
   
   </div>
   </form>
   </div>