<link rel="stylesheet" href="/style/form.css">
<title>Register</title>
</head>
<body>

<div class="wrapper">

    <div class="registration_form">
   <!-- Title -->
     <div class="title">
       Registration Form
     </div>
   
   <!-- Form -->
    <form method="post" action=""> 
     <div class="form_wrap">
        
   
   <!-- Frist name input Place -->
        <div class="input_wrap">
         <label for="fname">First Name</label>
         <input type="text"  name="name">
        </div>
   
   <!-- Team Id input Place -->
        <div class="input_wrap">
            <label for="Team">Team</label>
            <input type="text" id="team" name="team" >
        </div>

   <!-- Stack Id input Place -->
    <div class="input_wrap">
        <label for="stack">Stack</label>
        <input type="text" id="stack" name="stack" >
    </div>

     <!-- Gender Id input Place -->
     <div class="input_wrap">
        <label for="Gender">Gender</label>
        <input type="text" id="gender" name="gender" >
    </div>

    
     

   
   <!-- Submit button -->
    <div class="input_wrap">
      <button type="submit" class="submit_btn">Register</button>

    </div>
   
   </div>
   </form>
   </div>

  