<link rel="stylesheet" href="/style/table.css">
    <title>Table</title>
    </head>
    <body>
<div class="center">
    <a href="/form"><button>Register</button></a>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Team</th>
                <th>Stack</th>
                <th>Gender</th>
                <th>Crud</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <span>
                        <a href="">edit</a> 
                        <a href="">delete</a> 
                    </span>
                </td>
            </tr>
            <tr class="active-row">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="active-row">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="active-row">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

         
        </tbody>
    </table>
</div>